h1{
  text-align: center;
  background-color: #ffa500;
  padding: 50px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom:;
}

h2{
  background-color: #ffcccb;
}

#myName{
  background-color: #2C55F4;
  margin-top: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: "TimesNewRoman", Times, serif;
  font-weight: normal;

}

p{
  font-family: "Calibri", sans-serif;
  text-align: center;
  color: #000080;
}

.academics strong{
  color: #000000;
}

.navBar{
  /*position: -webkit-sticky; /* Safari */
  /*position: sticky;*/
  position: fixed;
  top: 0;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow: hidden;
  background-color: #b57edc;
}

.navBarList{
  float: left;
  width: 24%;
  border-right: 2px solid #d3d3d3;
}

.navBarList:last-child{
  border-right: none;
}

.navBarLink{
  display: block;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  padding: 14px 16px;
  text-decoration: none;
}

.navBarLink:hover{
  background-color: #6a0dad;
}

#activePage{
  background-color: #add8e6;
}

.flex{
  display:flex;
  flex-direction:column;
}
.req{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
.backblue{
  background-color:#ADD8E6;
}
.backgreen{
  background-color:#90ee90;
}
.backorange{
  background-color: #fed8b1;
  font-size: 2em;
  padding: 50px;
}
.aboutTag{
  display:flex;
  justify-content: center;
}
.sideways{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.fifty{
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .sideways{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .fifty{
    width: 50%;
  }
}
.section{

}
#aa{
  background-color: #ADD8E6;
  text-align: center;
}
#bb{
  background-color: #90ee90;
  text-align: center;
}


/*code to test position:sticky for navBar*/
/*div{
  margin-bottom: 600px
}*/
